header {
  display: flex;
  font-size: x-large;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  column-gap: 150px;
  justify-content: center;
}

nav {
  height: 50px;
}

img {
  width: 300px;
  height: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(13, 10, 10);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #73b187;
}

.listsMovie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6em;
  width: 250px;
  margin-top: 30px;
  margin-left: 6em;
  padding: 1em;
}

.Movie {
  border: rgb(19, 18, 18) 3px solid;
  height: 400px;
}

.NameMovie {
  padding: 5px;
}

.ItemLike {
  display: flex;
  column-gap: 40px;
  column-gap: 20px;
  justify-content: center;
  padding: 5px;
}

.likeDiv {
  display: flex;
  flex-direction: column;
}

.DivBtncomment {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: -10px;
}

.Position {
  position: absolute;
  display: none;
  top: 0;
  justify-content: center;
  width: 110vw;
  background-color: rgba(10, 119, 138, 0.74);
  overflow: scroll;
  left: 0;
  right: 0;
  font-family: 'poppins', sans-serif;
}

.FramePopup {
  /* background-color: rgb(30, 96, 138); */
  background: hsl(0, 100%, 50%);
  background: linear-gradient(359deg, hsl(0, 100%, 50%) 0%, #00ffe7 20%);
  background: -webkit-linear-gradient(359deg, hsl(0, 100%, 50%) 0%, #00ffe7 20%);
  background: -moz-linear-gradient(359deg, hsl(0, 100%, 50%) 0%, #00ffe7 20%);
  padding: 50px;
  width: 50vw;
  border-radius: 30px;
  margin-bottom: 400px;
  box-shadow: 10px 10px 5px 0 #000000bf;
  -webkit-box-shadow: 10px 10px 5px 0 #000000bf;
  -moz-box-shadow: 10px 10px 5px 0 #000000bf;
}

.popupImage {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  row-gap: 10px;
}

.inputText1 {
  width: 30%;
  height: 30px;
  border-radius: 15px;
}

.inputText2 {
  width: 90%;
  height: 100px;
  border-radius: 15px;
}

.specifits {
  display: flex;
  justify-content: space-around;
}

.Popupname {
  display: flex;
  justify-content: center;
}

.sumary {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.commentPOPup {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: darkslateblue;
  color: aliceblue;
}

.DivcommentPOPup {
  display: flex;
}

.PopupImage {
  min-width: 100%;
  height: 600px;
}

.fa-timesBtn {
  border: none;
  background: none;
}

.timesDiv {
  display: flex;
  justify-content: end;
}

.fa-times {
  font-size: x-large;
  margin-right: 20px;
  cursor: pointer;
}

.gg {
  margin-bottom: 10px;
  margin-left: 20px;
}
