header {
    display: flex;
    font-size: x-large;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    column-gap: 150px;
    justify-content: center;
  }
  
  nav {
    height: 50px;
  }
    
  ul {
    list-style-type: none;
  margin: 0;
      padding: 0;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(13, 10, 10);
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #73b187;
    }
    
  .listsMovie {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em;
    width: 250px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 1em;
   
  }
  
  .Movie {
      border: rgb(19, 18, 18) 3px solid;
  }
  
  .NameMovie {
      padding: 5px;
  }
  
  .ItemLike {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    padding: 5px;
  }
  
  .likeDiv {
    display: flex;
    flex-direction: column;
  }
  
  .DivBtncomment {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }